* {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  font-family: scandia-web, Verdana, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
}

.content-container {
  max-width: 1920px;
  margin: 0 auto;
}

:root {
  --bgwhite: #f8f8f8;
  --csmblue: #167aca;
  --boxred: #e7b6a1;
  --boxgreen: #d0dcb9;
  --boxblue: #b2cde1;
  --boxyellow: #efeec4;
  --boxgrey: #b4a8a8;
}

a {
  cursor: pointer;
}

/* (Mobile) Navigation */

nav {
  display: none;
  background-color: var(--boxblue);
  box-sizing: border-box;
  width: 120px;
  height: auto;
  text-align: right;
  position: relative;
  top: 65px;
  right: 15px;
  z-index: 5;
}

.navmobile li {
  padding: 7px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.fa-bars {
  color: var(--csmblue);
  font-size: 1.5rem;
  position: absolute;
  top: 30px;
  right: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: auto;
}

.csm1logo {
  max-height: 70px;
  width: auto;
  padding-left: 10px;
  padding-top: 10px;
}

/* (Mobile) Footer */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  text-align: center;
  padding: 1em;
}

.footerwrapper {
  padding-top: 1em;
}

.footerwrapper p,
a {
  color: var(--csmblue);
  padding-bottom: 0.3em;
}

.footerwrapper h4 {
  color: var(--csmblue);
  font-weight: 500;
  padding-bottom: 1em;
}

.csm2logo {
  max-height: 70px;
  width: auto;
}

/* (Homepage) Image with text overlay */

.spacegeartext {
  background-image: url(images/spacegearsmall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 3em;
}

.spacegeartext h1 {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.3rem;
  padding-bottom: 0.7em;
  line-height: 1.3em;
}

.spacegeartext p {
  color: rgb(255, 255, 255);
  font-style: italic;
}

/* (Homepage) Main */

.homepage {
  padding: 20px 40px;
}

/* (Homepage) Checkpoints */

.checkpointswrapper {
  text-align: center;
}

.checkpoint {
  padding: 20px 0px;
  flex-basis: 30%;
}

.fa-circle-check {
  color: var(--csmblue);
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.checkpoint h3 {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

/* (Homepage) Explore together */

.explorewrapper h2 {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 15px 0px;
}

.slidecontainer {
  border: 2px solid var(--csmblue);
  padding: 15px;
  margin: 10px 20px;
}

.slidecontainer h3 {
  font-size: 1.2rem;
  color: var(--csmblue);
  padding-bottom: 10px;
}

.bold {
  font-weight: 500;
}

.slidecontainer p {
  padding-bottom: 10px;
}

.slidecontainer a {
  text-decoration: underline;
}

/* (Homepage) Special News and Exhibitions */

.homepagebreak {
  background-image: url(images/specialnews.png);
  background-repeat: repeat-x;
  background-color: #e6d6b5;
}

.specialnews h2 {
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 200px;
  padding-bottom: 10px;
}

.specialnews p {
  padding-bottom: 15px;
}

.specialnews .bold {
  padding-top: 20px;
}

/* (Exhibitionspaces) Main */

.space1 {
  background-color: var(--boxblue);
}

.space2 {
  background-color: var(--boxred);
}

.space3 {
  background-color: var(--boxgreen);
}

.space4 {
  background-color: var(--boxgrey);
}

.space5 {
  background-color: var(--boxyellow);
}

.exhibitionspaces {
  padding: 20px 60px;
}

.space {
  padding: 10px;
  margin: 20px 0px;
  width: 100%;
}

.exhibitionspaces h1 {
  font-weight: 500;
  font-size: 1.3rem;
  padding-bottom: 20px;
}

.space h3 {
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.cursive {
  font-style: italic;
  padding-bottom: 20px;
}

.spaceimg {
  padding-top: 90%;
}

.img1 {
  background-image: url(images/moon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
  padding-top: 50%;
}

.img2 {
  background-image: url(images/skeletons.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.img3 {
  background-image: url(images/heart.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
}

.img4 {
  background-image: url(images/vr.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.img5 {
  background-image: url(images/eco.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
}

/* (Get involved) Main */

.getinvolved {
  padding: 20px 30px;
}

.support {
  background-color: var(--boxred);
}

.volunteer {
  background-color: var(--boxgreen);
}

.internships {
  background-color: var(--boxblue);
}

.getinvolved h1 {
  font-weight: 500;
  font-size: 1.3rem;
}

.getwrapper h2 {
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.getwrapper a {
  text-decoration: underline;
}

.getwrapper {
  padding: 15px;
  margin: 20px 0px;
}

/* (Visit us) Main */

.visithours {
  background-color: var(--boxred);
}

.visitaccess {
  background-color: var(--boxblue);
}

.visitfood {
  background-color: var(--boxgreen);
}

.visitadm {
  background-color: var(--boxgrey);
}

.visitlocation {
  background-color: var(--boxyellow);
}

.visitus h1 {
  font-weight: 500;
  font-size: 1.3rem;
}

.visitbox h2 {
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.visitbox p {
  padding-bottom: 10px;
}

.visitbox {
  padding: 15px;
  margin: 20px 0px;
}

.visitus {
  padding: 20px 30px;
}

.visitimg {
  background-image: url(images/museum.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 90%;
}

.formadm {
  font-family: inherit;
}

input,
textarea {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.admfield {
  padding: 10px;
  margin: 10px 0px;
}

.admsend {
  background-color: var(--boxblue);
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 3px;
}

/* (Contact) Main */

.contact {
  padding: 20px 30px;
}

.contact h1 {
  font-weight: 500;
  font-size: 1.3rem;
  padding-bottom: 10px;
}

input,
textarea {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.contactform {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
#choose,
textarea {
  padding: 7px;
  margin-top: 7px;
  margin-bottom: 15px;
}

input[type="button"] {
  background-color: var(--boxblue);
  border-color: transparent;
  width: 100px;
  height: 30px;
  border-radius: 3px;
}

input[type="button"]:hover {
  background-color: var(--csmblue);
  transition: 0.7s;
}

input[type="button"]:active {
  background-color: var(--boxgreen);
  transition: 0.1s;
}

/* (Shop) Main */


@media (min-width: 700px) {
  /* Navigation */

  nav {
    display: block;
    background-color: transparent;
    width: auto;
    text-align: right;
    position: relative;
    top: 50px;
    right: 30px;
  }

  .navmobile {
    display: flex;
  }

  .navmobile li {
    padding-left: 30px;
  }

  .rightheader .fa-bars {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    display: none;
  }

  header {
    height: 130px;
  }

  .csm1logo {
    max-height: 100px;
    padding-left: 30px;
    padding-top: 20px;
  }

  /* (Mobile) Footer */

  footer {
    grid-template-columns: repeat(4, 1fr);
  }

  .csm2logo {
    max-height: 100px;
  }

  /* (Homepage) Image with text overlay */

  .spacegeartext {
    background-image: url(images/spacegearmedium.jpg);
    padding: 5em 9em 5em 5em;
  }

  /* (Homepage), (Get involved), (Contact), (Visit us), (Exhibitionspaces) Main */

  .homepage,
  .contact,
  .getinvolved,
  .visitus,
  .exhibitionspaces {
    padding: 20px 70px;
  }

  /* (Exhibitionspaces) Main */

  .exhibitionspaces {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
  }

  .exhibitionspaces h1,
  .space1 {
    grid-column: 1/3;
  }

  .space {
    margin: -10px;
  }

  /* (Visit us) Main */

  .visitus {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
  }

  .visitus h1 {
    grid-column: 1/3;
  }

  .visithours {
    grid-column: 1/3;
    grid-row: 2/4;
  }

  .visitaccess {
    grid-column: 3/5;
    grid-row: 2/3;
  }

  .visitfood {
    grid-column: 3/5;
    grid-row: 3/4;
  }

  .visitadm {
    grid-column: 5/7;
    grid-row: 2/6;
  }

  .visitlocation {
    grid-column: 1/5;
    grid-row: 4/6;
  }

  .visitbox {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  /* Navigation */

  nav {
    right: 100px;
  }
  .navmobile li {
    padding-left: 70px;
  }

  /* (Homepage) Image with text overlay */

  .spacegeartext {
    padding: 7em 14em 7em 5em;
  }

  .spacegeartext h1 {
    font-size: 1.6rem;
  }

  .spacegeartext p {
    font-size: 1.2rem;
  }

  /* (Homepage) Checkpoints */

  .checkpointswrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .checkpoint {
    padding: 0px 10px;
  }

  /* (Homepage) Explore together */

  .explorewrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
  }

  .explorewrapper h2 {
    grid-column: 1/4;
  }

  /* (Exhibitionspaces), (Get involved), (Visit us), (Contact) Main */

  .exhibitionspaces,
  .getinvolved,
  .visitus,
  .contact {
    padding: 20px 100px;
  }

  .img1 {
    padding-top: 20%;
  }
}

@media (min-width: 1300px) {
  /* (Homepage) Image with text overlay */

  .spacegeartext {
    padding: 7em 31em 7em 8em;
  }

  .spacegeartext h1 {
    line-height: 1.5em;
  }

  .spacegeartext p {
    line-height: 1.4em;
  }

  /* (Homepage), (Exhibitionspaces), (Get involved), (Visit us), (Contact) Main */

  .homepage,
  .exhibitionspaces,
  .getinvolved,
  .visitus,
  .contact {
    padding: 20px 120px;
  }
}

@media (min-width: 1500px) {
  /* (Homepage) Image with text overlay */

  .spacegeartext {
    padding: 9em 31em 9em 8em;
  }

  /* (Homepage), (Exhibitionspaces), (Get involved), (Visit us), (Contact) Main */

  .homepage,
  .exhibitionspaces,
  .getinvolved,
  .visitus,
  .contact {
    padding: 20px 250px;
  }

  /* (Homepage) Checkpoints */
  .checkpoint {
    padding: 0px 20px;
  }
}

@media (min-width: 1700px) {
  /* (Homepage) Image with text overlay */

  .spacegeartext {
    padding: 12em 45em 12em 8em;
  }

  .spacegeartext h1 {
    line-height: 1.6em;
  }

  .spacegeartext p {
    line-height: 1.5em;
  }

  /* (Homepage), (Exhibitionspaces), (Get involved), (Visit us), (Contact) Main */

  .homepage,
  .exhibitionspaces,
  .getinvolved,
  .visitus,
  .contact {
    padding: 20px 300px;
  }
}

@media (min-width: 1900px) {
  /* (Homepage) Image with text overlay */

  .spacegeartext {
    padding: 12em 50em 12em 12em;
  }

  .spacegeartext h1 {
    font-size: 1.9rem;
  }

  .spacegeartext p {
    font-size: 1.5rem;
  }

  /* (Homepage), (Exhibitionspaces), (Get involved), (Visit us), (Contact) Main */

  .homepage,
  .exhibitionspaces,
  .getinvolved,
  .visitus,
  .contact {
    padding: 20px 400px;
  }
}
